<footer id="footer" class="text-center text-light py-2 bg-dark">
    <div class="row">
        <div class="col-12 col-sm-6 text-center text-sm-right mb-3">
            <i class="fas fa-pen"></i> Dirección Abel Barth 
            <br>
            <a href="https://www.facebook.com/vinilo.retro" class="no-a text-white"><i class="fab fa-facebook"></i> //AbelBarth</a>
        </div>
        <div class="col-12 col-sm-6  text-center text-sm-left">
            <i class="fas fa-laptop-code"></i> Software Mathi Burgio 
            <br>
            <a href="https://www.instagram.com/thienzooo/" class="no-a text-white"><i class="fab fa-instagram"></i> //Thienzooo</a>
        </div>
    </div>
</footer>
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>
<div id="publicidad" class="d-none">
    <div class="text-center mb-3 border" pub="0">
        <a href="" target="_blank"><img style="width: 100%;"></a>
    </div>
</div>
<div id="modal_emergencias" class="d-none">
    <div class="alert alert-info my-2" role="alert">
        Al hacer click se marcará el número de télefono.
        <br>
        Use este apartado responsablemente.
    </div>
    <a target="_blank" href="tel:107" class="btn btn-block btn-warning my-3">HOSPITAL</a>
    <a target="_blank" href="tel:100" class="btn btn-block btn-warning my-3">BOMBEROS</a>
    <a target="_blank" href="tel:101" class="btn btn-block btn-warning my-3">POLICIA</a>
    <a target="_blank" href="tel:+5492227491320" class="btn btn-block btn-warning my-3">CENTRO DE MONITOREO</a>
    <a target="_blank" href="tel:+5492227492421" class="btn btn-block btn-warning my-3">COMISARÍA DE LA MUJER</a>
    <a target="_blank" href="tel:+5492227491436" class="btn btn-block btn-warning my-3">PATRULLA RURAL</a>
    
</div>
<div id="modal_contactanos" class="d-none">
    <p>
        ¿Queres publicar tu emprendimiento en nuestro sitio, compartir una nota, contarnos algo?
    </p>
    <a href='https://wa.me/123' target='_blank' class='btn btn-block' style='background: var(--whatsapp)'><i class='fab fa-whatsapp'></i> Click para contactarnos!</a>
    <small class='text-muted'>Whatsapp: +54 2227 123456</small>
</div>