<div id="cortina" class="d-flex justify-content-center align-items-center"><!--footer.ejs -->
    <div style="animation: tilt-shaking 0.25s linear infinite;">
        <img src="/images/roque-perez-hoy-6.png" class="d-none" style="width: 20vw" alt="logo roque perez hoy">
    </div>
</div>
<header id="header" class="py-2 text-center w-100 d-flex justify-content-between" style="overflow:hidden">
    <div class="pl-2">
        <button id="btMenu" class="btn btn-outline-light btn-sm"><i class="fas fa-bars"></i> Menú</button>
    </div>
    <div>
        <a href="/" style="text-decoration:none">
        <span class="text-white" style="font-family: FuturaRegular;">RoquePérez<span style="color:orange; font-weight: bolder;">hoy</span></span>    
        </a>
    </div>
    <!--
        <div class="pr-2 text-white">
            <span class="p-2 cp d-none" id="btBuscador">
                <i class="fas fa-search"></i>
            </span>
        </div>
        <input class="form-control shadow-sm" name="txBuscar" placeholder="Buscar...">
    -->
    <div><!--ocupa espacio para evitar q la falta del buscador dessafe el titulo--></div>
</header>
<div class="alert alert-dismissible fade show d-none text-center" role="alert" alert-id="0" style="border-radius:0">
    <a class="alert-body no-a">
        Esto es una alerta
    </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="container-marquee" class="container marquee d-none my-2 py-2 bg-light" style="overflow: hidden; display:flex;">
    <h5>Hola mundo que tal anda</h5>
</div>