<nav id="menu-backdrop" class="d-none">
    <nav id="menu" class="px-3">
        <button class="btn btn-secondary btn-block my-3" name="btCerrarMenu"><i class="fas fa-chevron-left"></i> Cerrar menú</button>
        <ul name="menu-front">
            <li><a href="/">Inicio</a></li>
            <li><a href="/noticias">Noticias</a></li>
            <li><a href="/guia-comercial">Guía comercial</a></li>
            <li><a href="/comunidad">Comunidad</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li name="emergencias"><i class="fas fa-triangle-exclamation"></i> Emergencias</li>
            <li><a href="/farmacias-de-turno">Farmacias de turno</a></li>
            <li><a href="/horarios-de-transportes">Horarios de transportes</a></li>
            <li><a href="/telefonos-utiles">Teléfonos útiles</a></li>
            <li name="contactanos">Contactanos</li>
        </ul>

        <ul name="menu-admin" class="d-none">
            <li><a href="/admin_inicio">Inicio (Admin)</a></li>
            <li class="d-none"><a href="/admin_ahora">Ahora</a></li>
            <li><a href="/admin_noticias">Noticias</a></li>
            <li><a href="/admin_guia-comercial">Guía comercial</a></li>
            <li><a href="/admin_eventos">Eventos</a></li>
            <li><a href="/admin_farmacias-de-turno">Farmacias de turno</a></li>
            <li><a href="/admin_horarios-de-transportes">Horarios de transportes</a></li>
            <li><a href="/admin_telefonos-utiles">Teléfonos útiles</a></li>
            <li><a href="/admin_publicidades">Publicidades</a></li>
            <li><a href="/admin_marquesina">Marquesina / Principal</a></li>
            <li><a href="/admin_notificaciones">Notificaciones</a></li>
            <li><a href="/admin_comunidad">Comunidad</a></li>
            <li><a  name="btCerrarSesion">Cerrar sesión</a></li>
        </ul>
        <div class="text-dark" style="position: absolute; bottom: 10px; text-align: center; width: calc(100% - 1rem);">
            Dirección <b>Abel Barth</b> <i class="fas fa-pen"></i>
            <br>
            Software <b>Mathi Burgio</b> <i class="fas fa-laptop-code"></i>
        </div>
    </nav>
</nav>